BODY {
	BACKGROUND: #ffffff; FONT-FAMILY: Georgia, Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 90%
}
UL {
	FONT-SIZE: 90%
}
LI {
	FONT-SIZE: 90%
}
TD {
	FONT-SIZE: 90%
}
TH {
	FONT-SIZE: 90%
}
SUP {
	FONT-SIZE: 6pt
}
.fontTableCell {
	BORDER-RIGHT: gainsboro 1px solid; BORDER-TOP: gainsboro 1px solid; FONT-SIZE: x-small; BORDER-LEFT: gainsboro 1px solid; BORDER-BOTTOM: gainsboro 1px solid; BACKGROUND-COLOR: whitesmoke
}
.detail {
	FONT-SIZE: xx-small; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.masthead {
	FONT-SIZE: 36pt; FONT-FAMILY: Franklin Gothic Heavy, Verdana, Arial, Helvetica, sans-serif
}
.heading {
	FONT-SIZE: large; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: small; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.faqBox {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 15px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f1f1f1
}
.flag {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #ff3100; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.caption {
	FONT-SIZE: xx-small; COLOR: #888888; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tiny {
	FONT-SIZE: 80%; MARGIN-LEFT: 24pt; FONT-FAMILY: Courier New, courier, monospace
}
.smaller {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.preCode {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: x-small; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #f1f1f1
}
.smallcode {
	FONT-SIZE: 80%; MARGIN-LEFT: 24pt; FONT-FAMILY: Courier New, courier, monospace
}
.foot {
	FONT-SIZE: 9pt
}
.add {
	COLOR: #000000
}
.red {
	COLOR: #ff3030
}
.green {
	COLOR: #30a030
}
.blue {
	COLOR: #3030ff
}
.cssspec {
	COLOR: #303090
}
.force {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.TAB {
	FONT-SIZE: 9px; MARGIN-LEFT: 4px; MARGIN-RIGHT: 2px; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
A:link {
	COLOR: #ff5200; TEXT-DECORATION: none
}
A:visited {
	COLOR: #cc3300; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
